@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
  background-color: rgb(46,46,46);
  color: white;
  font-family: 'Roboto', sans-serif;
}

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: none;
  font-size: 20px;
}

#header p:first-child {
  font-size: 30px;
}

#links ul li {
  display: inline-block;
  text-decoration: none;
  margin: auto 20px;
}

#links ul {
  padding-left: 0px;
}

#links ul li a:visited {
  color:white;
}

#links ul li a:active {
  color: darkgray;
}

#button {
  background-color: purple;
  border-radius:30px;
  padding: 12px 20px;
  transition: 0.3s ease;
}

#button:hover {
  cursor: pointer;
  background-color: magenta;
}

#splash {
  background-image: url("./resources/waterfall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#splash h1, #splash h2 {
  margin: 0px 20px;
}

#splash h1 {
  font-size: 72px;
  padding-top: 40px;
}

#splash h2 {
  font-size: 40px;
}

#splash img {
  height: 30vh;
  border: 10px white solid;
  border-radius: 300px;
  float: left;
  min-height: 240px;
}

.empty_space {
  margin: 0px 50px;
}