html {
  background-color: rgb(46,46,46);
  color: white;
  height: 200%;
}

#header {
  display: flex;
  justify-content: space-around;
  background-color: none;
  font-size: 20px;
}

#links ul li {
  display: inline-block;
  text-decoration: none;
  margin: auto 20px;
}

#links ul {
  padding-left: 0px;
}

#links ul li a:visited {
  color:white;
}

#links ul li a:active {
  color: darkgray;
}

#splash {
  text-align: center;
  background-image: url("./resources/splash_bg.jpg");
  width: 100%;
  padding-bottom: 100px;
}

#splash h1, #splash h2 {
  margin: 0px;
}

#splash h1 {
  font-size: 72px;
  padding-top: 40px;
}

#splash h2 {
  font-size: 40px;
}

#splash img {
  height: 300px;
  border-radius: 150px;
  margin-top: 40px;
}