html {
  background-color: rgb(46,46,46);
  color: white;
}

#header {
  display: flex;
  justify-content: space-around;
  background-color: none;
  font-size: 20px;
}

#links ul li {
  display: inline-block;
  text-decoration: none;
  margin: auto 20px;
}

#links ul {
  padding-left: 0px;
}

#links ul li a:visited {
  color:white;
}

#links ul li a:active {
  color: darkgray;
}